@import "../../global.scss";

.portfolioList {
  font-size: 20px;
  margin-right: 10px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }

  &:hover {
    background-color: #cff7f5;
  }
}
